<div class="chatBox">
  <div class="chatHeading">
    <span>Global Chat</span>
  </div>
  <div id="messages">
    <% messages.forEach(function(message){ %>
      <% if(message!=''){ %>
      <div class="message <%= (userName==message.userName)?'me':'otherPerson' %>">
        <div class="messageUserName">
          <%= message.userName + ': ' %>
        </div>
        <%= message.message %>
      </div>
      <% } %>
    <% }) %>
  </div>
  <form method="POST" action="/sendMessage" name="chatForm">
    <input type="text" name="userName" value="<%= userName %>">
    <input type="text" name="msg" id="mainBox" placeholder="Type your message">
    <input type="image" src="/sendButton.png" border="0" alt="Submit" />
  </form>
</div>
