<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chatzu | leadlearn.tk</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cask.scotch.io/bootstrap-4.0-flex.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="/styles/style.css">
    <script type="text/javascript" src="/socket.io.js"> </script>
    <style media="screen">
    *{
          font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif !important;
    }
      i{
        display: inline !important;
      }
      .error{
        color: #e3826d;
        background-color: #f9c8c7;
        width: 100%;
        border: 1px solid #e3826d;
        padding: 2px 10px;
        position: absolute;
        left: 0;
        top: -10px;
        border-radius: 5px;
        font-weight: bold;
      }
      .error span{
        padding: 0px;
        font-weight: normal;
      }
    </style>
  </head>
  <body>

<div class="userNameDiv">

  <div class="formHeading">
    LOGIN
  </div>

<form action="/userNameSubmit" method="post" class="userNameForm">
  <% if(error!=""){ %>
    <div class="error"><i class="glyphicon glyphicon-exclamation-sign" style="margin-right: 10px;" aria-hidden="true"></i>Error<span><%= error %></span></div><div class="triangle"><div class="innerTriangle"></div></div>
  <% } %>
  <input type="text" name="userName" value="" id="mainBox" placeholder="Your name here">

  <button type="submit" class="btn btn-success-outline">Enter</button>
</button>
</form>
</div>
<% include lower %>
