<% include upper %>
<div class="userNameDiv">

  <div class="formHeading">
    LOGIN
  </div>

<form action="/userNameSubmit" method="post" class="userNameForm">
  <input type="text" name="userName" value="" id="mainBox" placeholder="Your name here">
  <a class="btn btn-success-outline">Enter</a>
</button>
</form>
</div>
<% include lower %>
