<% include upper %>
<div class="userNameDiv">

  <div class="formHeading">

  </div>

<form action="/userNameSubmit" method="post" class="userNameForm">
  <input type="text" name="userName" value="" id="mainBox">
  <button class="ui labeled icon button">
  <i class="pause icon"></i>
  Pause
</button>
<button class="ui right labeled icon button">
  <i class="right arrow icon"></i>
  Next
</button>
</form>
</div>
<% include lower %>
