  <script type="text/javascript" src="/scripts/variables.js"> </script>
  <script type="text/javascript" src="/scripts/events.js"> </script>
  <script type="text/javascript" src="/scripts/client.js"> </script>
  <script type="text/javascript" src="/scripts/game.js"> </script>
  </body>
</html>
