@import all

userNameDiv_W = 25%
userNameDiv_H = 48%

.userNameDiv
  width: userNameDiv_W
  background: #2B2B2B
  absAndCenter()
  & .formHeading
    position: relative;
    background-color: #7300AB
    color: white
    font-family: arial
    font-weight: bold
    font-size: 2em
    text-align: center
    vertical-align: middle
    padding: 12px;
  .error
    position: relative;
    margin: 0 auto
    color: #e3826d;
    background-color: #f9c8c7
    border: 1px solid #e3826d;
    width: 65%;
    padding: 2px 10px;
    border-radius: 5px;
    font-weight: bold;
    span
      display: block
  .userNameForm
    padding: 10% 18%
    // border: 2px solid red
    width: 100%
    *
      display: block;
      margin: 10px auto;
      width: 100%
    input[type=text]
      height: 32*1.1px
      text-align: center
      margin: 10px auto 20px auto
      font-family: Myriad Pro
      button

i
  display: inline !important;

// @media screen and (max-width: 1000px)
