body
  margin: 0px
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
header
  position: fixed;
  z-index: 1
  background-color: orange
  width: 100%
  height: 50px
  padding: 0vh 15vw
  color white
  font-size: 30px
  &>*
    float: left
  .logo
    height: 50px
    width: 75px
    background-color: blue
    // margin: 0 0 10px 10px
  .name
    position: relative;
    // left: 25%;
    top: 50%;
    margin-left: 10px
    margin-right: -50%
    transform: translate(0, -50%)
    border: 2px solid blue
.leftPanel
  position: fixed
  height: 100vh
  width: 20vh
  background-color: #f3f9e9
.chatBox
  position: absolute;
  left: 50%
  top: 50%
  transform: translate(-50%,-50%);
  border: 2px solid gray
  width: 500px
  height: 400px
  .chatHeading
    position: relative;
    height: 15%
    background-color: #298CCE
    color: white
    div
      font-size: 2em
      position: absolute;
      top: 50%
      transform: translate(0%,-50%);
      margin: 0 15px

  #messages
    height: 75%
    overflow: hidden;
    overflow-y: scroll;
    .me
      right: 0
      background: #FFFFFF
    .other
      left: 0
    .message
      // float: left
      position: relative;
      height: 30px
      width: 80%
      border: 2px solid #439963
      border-radius: 10px
      margin: 5px
      .messageUserName
        display: inline;
        color: white
        background: gray
        font-weight: bold
        margin-right: 5px
  & form
    position: absolute;
    bottom: 0px
    width: 100%
    display: block;
    height: 10%
    background-color: #3B2B4B
    & input
      position: absolute;
      top: 50%
      left: 50%
      transform: translate(-55%, -50%)
      width: 75%
      height: 70%
      border: none
      // border-top: 2px solid gray
      font-size: 1.2em
      font-family: arial, sans-serif;
      padding: 0px 10px
    & input[type=image]

      height: 90%
      width: 60px
      position: absolute;
      top: 50%
      right: 0%
      transform: translate(220%, -50%)
      margin-right: 4px
      float: right
.userNameDiv
  padding: 20px
  background: #2B2B2B
  position: absolute;
  left: 50%
  top: 50%
  transform: translate(-50%,-50%);
  .userNameForm
    *
      display: block;
    input[type=text]
      height: 2.5em
      width: 300px
    button
      margin: 10px auto 0 auto
      height: 40px
      width: 100px
