@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'
html, body {
    height: 100%;
}
html {
    overflow-y: hidden;
}
body {
    overflow-y: scroll;
    background: url(/bg1.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif !important;
}
header
  position: fixed;
  z-index: 1
  background-color: orange
  width: 100%
  height: 50px
  padding: 0vh 15vw
  color white
  font-size: 30px
  &>*
    float: left
  .logo
    height: 50px
    width: 75px
    background-color: blue
    // margin: 0 0 10px 10px
  .name
    position: relative;
    // left: 25%;
    top: 50%;
    margin-left: 10px
    margin-right: -50%
    transform: translate(0, -50%)
    border: 2px solid blue
chatBoxW = 350px
chatBoxH = chatBoxW * 1.2
.chatBox
  position: absolute;
  left: (chatBoxW / 2)
  top: 100%
  color: white
  transform: translate(-50%,-50%);
  border: 2px solid gray
  width: chatBoxW
  height: chatBoxH
  .chatHeading
    position: relative;
    height: 15%
    background-color: #298CCE
    color: white
    div
      font-size: 2em
      position: absolute;
      top: 50%
      transform: translate(0%,-50%);
      margin: 0 15px

  #messages
    height: 75%
    overflow: hidden;
    overflow-y: scroll;
    .me
      right: 0
      // background: #FFFFFF
    .other
      left: 0
    .message
      // float: left
      position: relative;
      height: 30px
      width: 80%
      border: 2px solid #439963
      border-radius: 10px
      margin: 5px
      .messageUserName
        display: inline;
        color: white
        background: gray
        font-weight: bold
        margin-right: 5px
  & form
    position: absolute;
    bottom: 0px
    width: 100%
    display: block;
    height: 10%
    background-color: #3B2B4B
    & input
      position: absolute;
      top: 50%
      left: 50%
      transform: translate(-55%, -50%)
      width: 75%
      height: 70%
      border: none
      // border-top: 2px solid gray
      font-size: 1.2em
      font-family: arial, sans-serif;
      padding: 0px 10px
    & button
      position: absolute;
      top: 50%
      right: 3%
      transform: translate(0%, -50%)
      margin-right: 4px
      float: right
w = 250
h = 216
.userNameDiv
  width: w*1.5px
  height: h*1.5px
  background: #2B2B2B
  position: absolute;
  display: table
  left: 50%
  top: 50%
  transform: translate(-50%,-50%);
  & .formHeading
    position: relative;
    background-color: #7300AB
    color: white
    font-family: arial
    font-weight: bold
    font-size: 2em
    text-align: center
    // display: table-cell;
    vertical-align: middle
    // border: 2px solid red
    height: 25%
  .userNameForm
    position: absolute;
    // border: 2px solid red
    left: 50%
    top: 50%
    transform: translate(-50%,-50%);
    *
      display: block;
    input[type=text]
      height: 32*1.1px
      width: 160*1.1*1.2px
      text-align: center
      margin: 50px auto 20px auto
      font-family: Myriad Pro
    button
      width: 100%

input:focus { outline:0 !important; }
button:focus { outline:0 !important; }
.btn-circle {
  width: 50px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 10px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
// @media only screen and (max-device-width: 480px) {
//
// }
